<table>
    <tr>
        <th>
            OPERATOR
        </th>
        <th>
            VARIABLE
        </th>
    </tr>
    <tr>
        <td>
            OR ∨
            <script type="text/javascript" src="{{ url_for('static', filename='copy_function.js') }}"> </script>
    <input type="text" value=∨ id="myInput">
    <button onclick="myFunction(event)">Copy</button>
        </td>
        <td>
            TRUE T
            <script type="text/javascript" src="{{ url_for('static', filename='copy_function.js') }}"> </script>
    <input type="text" value="T" id="myInput">
    <button onclick="myFunction(event)">Copy</button>
        </td>
    </tr>
    <tr>
        <td>
            AND ∧
            <script type="text/javascript" src="{{ url_for('static', filename='copy_function.js') }}"> </script>
    <input type="text" value="∧" id="myInput">
    <button onclick="myFunction(event)">Copy</button>
        </td>
        <td>
            FALSE
            <script type="text/javascript" src="{{ url_for('static', filename='copy_function.js') }}"> </script>
    <input type="text" value="F" id="myInput">
    <button onclick="myFunction(event)">Copy</button>
        </td>
    </tr>
    <tr>
        <td>
            NOT ¬
            <script type="text/javascript" src="{{ url_for('static', filename='copy_function.js') }}"> </script>
    <input type="text" value="¬" id="myInput">
    <button onclick="myFunction(event)">Copy</button>
        </td>
        <td>
            -
        </td>
    </tr>
    <tr>
        <td>
            =
                <script type="text/javascript" src="{{ url_for('static', filename='copy_function.js') }}"> </script>
    <input type="text" value="=" id="myInput">
    <button onclick="myFunction(event)">Copy</button>
        </td>
        <td>
            -
        </td>
    </tr>
    
</table>